@font-face {
   font-family: OSP-DIN;
   src: url(../font/OSP-DIN.ttf);
}

body {
text-align: center;
background: gray;
color: white;
font-family: 'OSP-DIN', Arial, sans-serif;
margin: 0px;
padding: 0px;
}

a {
color: inherit;
text-decoration: inherit;
}

#wrapper {
position: fixed;
width: 100%;
height: 100%;
}
#attribution {
position: absolute;
top: 0px;
right: 0px;
}

#display {
width: 100%;
height: 100%;
text-align: center;
background: black;
}

.forecast {
width: 20%;
}

#forecast1 {
color: #FFFFFF;
}
#forecast2 {
color: #CCCCCC;
}
#forecast3 {
color: #999999;
}
#forecast4 {
color: #777777;
}
#forecast5 {
color: #777777;
}

.wi {
font-size: 14vmin;
 line-height: 19vmin !important;
}
#currently {
 height: 56vh;
}
#currently .wi {
font-size: 18vmin;
}

#forecastHeading {
height: 100px;
}
#forecast {
 font-size: 15vmin;
 margin-bottom: 4vmin;
}

.day {
font-size: 3.5vmin;
margin-bottom: 1.5vmin;
}
.desc {
font-size: 3.5vmin;
 margin-top: 2.5vmin;
margin-bottom: 0.5vmin;
}
.highTemp {
font-size: 3vmin;
}
.lowTemp {
font-size: 3vmin;
}
.currentTemp {
 font-size: 3.5vmin;
}
.temp {
 font-size: 15vmin;
}
#currentlyHeading {
font-size: 5vmin;
}
#currently .desc {
font-size: 8vmin;
margin-bottom: 0.5vmin;
}
#currently .tvminp {
font-size: 2.5vmin;
}

#time {
font-size: 15vmin;
}
#date {
font-size: 5vmin;
color: #CCCCCC;
}

#currentlyWrapper {
display: inline-block;
height: 100%;
width: 100%;
background: rgba(255,255,255,0.2);
padding-top: 4vh;
}